@use 'variables' as *;

html.template-nexahub {
  height: 100%;
  scroll-behavior: smooth;

  &:focus-within {
    scroll-behavior: smooth;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font: inherit;
  }

  ul,
  ol {
    list-style: none;
  }

  .sf-icon {
    display: contents;
  }

  .sf-icon svg {
    display: block;
  }

  body {
    min-height: 100%;
    overflow-x: hidden;
    text-rendering: optimizeSpeed;
  }

  main {
    height: auto;
  }

  a:not([class]) {
    text-decoration-skip-ink: auto;
  }

  img,
  picture {
    max-width: 100%;
    display: block;
    height: 100%;
  }

  a {
    text-decoration: none;
    color: inherit;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    user-select: none;
    pointer-events: auto;
  }
}