NODE_ENV=development
PLATFORM_PUBLIC_BASE_URL=http://api.lvh.me
DASHBOARD_PUBLIC_BASE_URL=http://dashboard.lvh.me
STOREFRONT_PUBLIC_BASE_DOMAIN=lvh.me
MEDUSA_INTERNAL_URL=http://medusa:9000
PLATFORM_INTERNAL_API_TOKEN=development-platform-internal-token
REDIS_URL=redis://localhost:6379
