# Auto detect text files and perform LF normalization on checkout and commit
* text=auto eol=lf

# Explicitly declare text files you always want to have LF line endings
*.ts text eol=lf
*.tsx text eol=lf
*.js text eol=lf
*.jsx text eol=lf
*.mjs text eol=lf
*.cjs text eol=lf
*.json text eol=lf
*.astro text eol=lf
*.scss text eol=lf
*.css text eol=lf
*.html text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.sql text eol=lf
*.sh text eol=lf
*.env text eol=lf
*.env.* text eol=lf

# Declare binary files to prevent git from modifying line endings
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.webp binary
*.svg text eol=lf
*.ico binary
*.woff binary
*.woff2 binary
*.ttf binary
*.eot binary
*.pdf binary
