.chat-bubble {
  display: inline-flex;
  align-items: flex-end;
  gap: 10px;
  background: $clr-neutral-50;
  border-radius: 16px 16px 16px 4px;
  box-shadow: 0 2px 18.5px rgba(118, 117, 117, 0.06);
  padding: 6px 10px 6px 6px;
  width: fit-content;
  white-space: nowrap;

  &__content {
    display: flex;
    align-items: center;
    gap: 6px;
  }

  &__avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    flex-shrink: 0;
    overflow: hidden;
  }

  &__text {
    color: $clr-neutral-900;
    white-space: nowrap;
  }

  &__time {
    font-family: $ff-body;
    font-weight: $fw-medium;
    font-size: 8px;
    line-height: normal;
    color: $clr-neutral-750;
    white-space: nowrap;
    margin-bottom: 2px;
  }
}
