SERVICE_NAME=medusa
PORT=9000
DATABASE_URL=postgres://ecs:ecs@localhost:5432/medusa_db
REDIS_URL=redis://localhost:6379
STORE_CORS=http://*.lvh.me,http://localhost:4321
ADMIN_CORS=http://dashboard.lvh.me,http://localhost:3001
AUTH_CORS=http://dashboard.lvh.me,http://localhost:3001
JWT_SECRET=
COOKIE_SECRET=
WORKER_MODE=shared
DISABLE_MEDUSA_ADMIN=true
