@use "sass:math";

@function to-rem($value, $root) {
  @if math.unit($value) == "px" {
    $root-unitless: $root;

    @if math.unit($root) == "px" {
      $root-unitless: math.div($root, 1px);
    }

    @return math.div(math.div($value, 1px), $root-unitless) * 1rem;
  }

  @return $value;
}

@function fluid(
  $start-value,
  $end-value,
  $min-width: 350px,
  $max-width: 1440px,
  $pixels-per-rem: 16
) {
  @if $start-value == $end-value {
    @return $start-value;
  }

  $start-rem: to-rem($start-value, $pixels-per-rem);
  $end-rem: to-rem($end-value, $pixels-per-rem);

  $min-w-rem: to-rem($min-width, $pixels-per-rem);
  $max-w-rem: to-rem($max-width, $pixels-per-rem);

  $slope: math.div(
    $end-rem - $start-rem,
    $max-w-rem - $min-w-rem
  );

  $y-intercept: $start-rem - ($min-w-rem * $slope);
  $slope-vw: $slope * 100;

  @if $start-value > $end-value {
    @return clamp(
      #{$end-rem},
      #{$y-intercept} + #{$slope-vw}vw,
      #{$start-rem}
    );
  }

  @return clamp(
    #{$start-rem},
    #{$y-intercept} + #{$slope-vw}vw,
    #{$end-rem}
  );
}
